#searchbar {
    font-family: 'DM Sans', sans-serif;
    margin: auto;
    width: 100%;
    padding: 5rem; 
    .form-control {
        color:white;
    }
    ::placeholder {
        color:white;
        opacity:0.5;
    }
}