$myColor: #232121;
$hoverBlack: #282828;
$myGrey: #444444;

#moviemodal {
    z-index:4;
    margin-top:7rem;
    font-family: 'DM Sans', sans-serif;
    .close {
        color:white;
    }
    #modal-header, #modal-body1, #modal-body2, #modal-footer {
    background-color:$myColor !important;
    color:white;
    }
    #modal-header {
        border-bottom: 1px solid $myGrey;
    }
    #modal-body1 {
        display:flex;
        justify-content:center;
        #modal-poster {
            width:33%;
        }
    }
    #modal-footer {
        border-top: 1px solid $myGrey;
        #modal-button {
            margin:auto;
            color:white;
            background-color:$myColor !important;
            border:1px solid white !important;
            border-radius: 0.5rem;
            &:hover {
                color:$myColor;
                background-color:white !important;
                border:1px solid $myColor !important;
                transition:0.3s;
            }
        }
    }
}